# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hårddisken\IdeaProjects\Nackademin\Kursuppgifter\Objektorienterad analys och design\Gruppprojekt\Utan javaFX\Grupprojekt11-utan-javaFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
